h3 {
    margin-top: 20px;
    font-size: 2rem;
}

.caption-middle {
    width: 80%;
}

.row {
    margin-bottom: 15px;
}

.text-header {
    margin-top: 20px;
}

[class*="bg-"] {
    padding: 20px;
}

[class*="image-"] {
    min-height: 375px;
}

xmp {
    background: #eee;
    border-left: 2px solid #69c;
    overflow: auto;
}