#light-intro {
    background: url(https://source.unsplash.com/category/nature/1400x800);
    background-position: center;
}

h3 {
    margin-top: 20px;
    font-size: 2rem;
}

.caption-middle {
    width: 80%;
}

.row {
    margin-bottom: 15px;
}

.text-header {
    margin-top: 20px;
}

[class*="bg-"] {
    padding: 20px;
}

[class*="image-"] {
    min-height: 375px;
}

.viewport-height {
    min-height: 100vh;
}

nav:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, .2);
}