.doc-header {
    padding: 30px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: #eee;
}

hr.doc {
    margin: 0;
}

xmp {
    background: #eee;
    border-left: 2px solid #69c;
    overflow: auto;
}